@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

:root { --font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;}
body {
    margin: 0;
}

#app {
    display: grid;
    grid-template-columns: min-content;
    grid-auto-rows: max-content;
    justify-content: center;
    justify-items: center;
    grid-gap: 40px;

    box-sizing: border-box;
    padding: 4vh 2vw;
    min-height: 100vh;

    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F2F2F2;
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-gap: 32px;
}

@media (max-width: calc(320px * 2 + 32px)) {
    .calendar-container {
        grid-template-columns: auto;
    }
}

.visuallyhidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}
